* {
	padding: 0px;
	margin: 0px;
	font-family: arial, sans-serif;
}

header {
    border-style: solid;
}

nav li {
	margin : 5px;
	padding: 5px;
	list-style: none;
	display: inline-block;
}

nav li:nth-child(6) {
	margin-right: 200px;
}

nav li a {
	text-decoration: none;
	color: gray;
}

nav li a:hover {
	color: black;
}