* {
	padding: 0px;
	margin: 0px;
	font-family: arial, sans-serif;
}

header {
	border-bottom: 0.1px solid #EAEAEA;
	background-color: #FAFAFA;
}

nav li {
	margin : 5px;
	padding: 5px;
	list-style: none;
	display: inline-block;
	position: relative;
	left: 150px
}

nav li:nth-child(6) {
	margin-right: 100px;
}

nav li a {
	text-decoration: none;
	color: gray;
	font-family: 'Roboto',arial,sans-serif;
}

nav li a:hover {
	color: black;
}

#logo {
	margin: 25px 10px 10px 15px
}

#searchBar {
	width: 600px;
	height: 40px;
	position: absolute;
	top: 20px;
	left: 150px;
}

#searchTime {
	color: #909090;	
}

#searchResult {
	margin: 15px 10px 10px 160px;
	font-size: small;
	width: 600px;
	float: left;
}

.result {
	margin: 10px 0 25px 0;
}

h3 {
	font-size: 18px;
	font-weight: normal;
	color: #2015AA;
}

.url {
	margin-bottom: 5px;
	color: #1A763C;
}

p {
	line-height: 1.5em;
	color: #5C5C5C;
}

#sidebox {
	width: 200px;
	height: 200px;
	border: 1px solid #DFDFDF;
	position: absolute;
	top: 190px;	
	left: 800px;
	padding: 10px;
	font-size: 25px;
}